<md-content class="md-padding" layout="column">
            <img ng-src="/media/photos/geant2019.jpg" class="md-card-image" alt="GEANT workshop 2019">
            <h1 class="md-display-2" ng-show="lang != 'en'">
                GEstion et pArtage de données en NeuroinformaTique (GEANT)
                <md-button ng-click="lang = 'en'">
                    <md-icon md-svg-src="media/icons/united-kingdom.svg"></md-icon>
                </md-button>
            </h1>
            <h1 class="md-display-2" ng-show="lang == 'en'">
                Workshop on Data Management and Sharing in Neuroinformatics
                <md-button ng-click="lang = 'fr'">
                    <md-icon md-svg-src="media/icons/france.svg"></md-icon>
                </md-button>
            </h1>

        <div id="fr" ng-show="lang != 'en'">
            <h2 class="md-display-1">Le workshop 2019 de l’INCF-France</h2>
            <h3>Mardi 21 Mai 2019 (veille de l’ouverture de <a href="https://www.neurosciences.asso.fr/V2/colloques/SN19/index_en.php">NeuroFrance 2019</a> à Marseille), 9h-18h</h3>

            </h2>
            <p>
                La gestion de données hétérogènes et de grande taille est devenue incontournable
                pour les chercheurs qui s’intéressent à la modélisation et au traitement des
                données en Neurosciences.
                Par ailleurs, pour atteindre une robustesse statistique suffisante et accorder
                une valeur scientifique aux résultats proposés, les études multicentriques
                deviennent indispensables afin de  partager et de réutiliser les données produites
                chez l’homme et l’animal.
            </p>
            <p>
                Le noeud français de l’INCF propose une journée d’étude sur le thème de la gestion
                et du partage de données en Neuroinformatique. Il s’agira d’échanger sur les
                besoins, les solutions et les moyens dont disposent les participants puis de
                recenser les verrous à lever et d’envisager des solutions notamment au travers
                de l’action internationale de
                l’International Neuroinformatics Coordinating Facility (<a href="http://www.incf.org">INCF</a>).
            </p>

            <p class="md-headline"><a href="/media/geant2019/programme.pdf">Programme</a></p>

            <p class="md-headline">Thèmes:</p>
            <ul>
              <li>Electrophysiologie</li>
              <li>Neuroimagerie</li>
              <li>La bioinformatique pour les neurosciences</li>
              <li>Imagerie cellulaire</li>
              <li>Solutions de l'informatique pour les neurosciences</li>
            </ul>

            <p class="md-headline">Conférenciers confirmés:</p>
            <p><b>Frédéric Barthélemy</b> (Juelich Research Center),
            <b>Olivier Coulon</b> (INT, CNRS-Aix-Marseille Université),
            <b>Andrew Davison</b> (NeuroPSI, CNRS-Paris Saclay University),
            <b>Stanley Durrleman</b> (Inria/Institut du Cerveau - Aramis Lab / Centre de Neuroinformatique),
            <b>Junji Ito</b> (Juelich Research Center),
            <b>Camille Maumet</b> (Inria, Univ Rennes, CNRS, Inserm),
            <b>Chris van der Togt</b> (Netherlands Institute for Neuroscience, Amsterdam)</p>


            <div flex-xs layout="row">
                <md-card md-theme="default">
                  <md-card-title>
                    <md-card-title-text>
                      <span class="md-headline">Lieu du workshop</span>
                    </md-card-title-text>
                    <md-card-title-media>
                      <div class="md-media-lg card-media"></div>
                    </md-card-title-media>
                  </md-card-title>
                  <md-card-content>
                    Amphitéâtre d’odontologie<br/>
                    <a href="https://medecine.univ-amu.fr/fr/sorienter-faculte-medecine-secteur-timone">Campus santé-médecine</a><br/>
                    27 bd Jean Moulin<br/>
                    13005 Marseille
                  </md-card-content>
                </md-card>

                <md-card md-theme="default">
                    <md-card-title>
                      <md-card-title-text>
                        <span class="md-headline">Inscription</span>
                      </md-card-title-text>
                    </md-card-title>
                    <md-card-content>
                        Inscription gratuite mais obligatoire :<br/>
                        <span class="md-button"><a href="https://goo.gl/forms/jLHl6XZvRVnKXwHy2">Cliquez ici</a></span></br>
                        Places limitées
                    </md-card-content>
                </md-card>

                <md-card md-theme="default">
                    <md-card-title>
                      <md-card-title-text>
                        <span class="md-headline">Organisateurs</span>
                      </md-card-title-text>
                    </md-card-title>
                    <md-card-content>
                        <ul>
                        <li>Olivier Coulon (INT, CNRS-Aix-Marseille Université)</li>
                        <li>Andrew Davison (NeuroPSI, CNRS-Université Paris-Saclay)</li>
                        <li>Michel Dojat (GIN, Inserm, UGA)</li>
                        <li>Stanley Durrleman ((Inria/Institut du Cerveau)</li>
                        <li>Emmanuelle Mauduit (Institut du Cerveau)</li>
                        <li>Camille Maumet (Inria, Univ Rennes, CNRS, Inserm)</li>
                        <li>Sylvain Takerkart (INT, CNRS-Aix-Marseille Université)</li>
                        <li>Lydia Yahia-Cherif (Institut du Cerveau)</li>
                        </ul>
                    </md-card-content>
                </md-card>

                <md-card md-theme="default">
                        <md-card-title>
                          <md-card-title-text>
                            <span class="md-headline">Sponsors</span>
                          </md-card-title-text>
                        </md-card-title>
                        <md-card-content>
                                <img src="/media/photos/openaire.png" width=182> <img src="/media/photos/FLI_logo_small.png" width=68><br/>
                                <img src="/media/photos/Logo-CNRS-MaDICS.jpg" width=262><br/>
                            Nous remercions Aix-Marseille Université, <a href="https://www.openaire.eu">OpenAire</a>,
                            <a href="https://www.francelifeimaging.fr">France Life Imaging</a>, et le <a href="https://www.madics.fr">GdR MADICS</a> pour leur soutien.
                        </md-card-content>
                    </md-card>

                </div>

                <div><small>Icônes par <a href="https://www.freepik.com/" title="Freepik">Freepik</a> de
                  <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a>,
                  licence <a href="http://creativecommons.org/licenses/by/3.0/"
                  title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></small></div>

        </div>  <!-- end fr -->

        <div id="en" ng-show="lang == 'en'">
            <h2 class="md-display-1">Organised by INCF-France</h2>
            <h3>Tuesday 21st May 2019 (the day before <a href="https://www.neurosciences.asso.fr/V2/colloques/SN19/index_en.php">NeuroFrance 2019</a> in Marseille), 9am-6pm</h3>

            </h2>
            <p>
                The management of large and heterogeneous data has become essential for researchers interested
                in modelling and data analysis in neuroscience.
                Furthermore, both funder mandates and the requirements of multicentre studies and other
                collaborations impose a need to share and reuse data produced in humans and animals.
            </p>
            <p>
                Organised by the <a href="http://www.incf.org">INCF</a> French node,
                the aim of the workshop is to discuss the needs, solutions and resources available to participants
                for data management and sharing, then to identify the roadblocks to be lifted and to consider solutions.
            </p>

            <p class="md-headline"><a href="/media/geant2019/programme.pdf">Programme</a></p>

            <p class="md-headline">Sessions:</p>
            <ul>
              <li>Electrophysiology</li>
              <li>Neuroimagimg</li>
              <li>Bioinformatics for neuroscience</li>
              <li>Imaging microscopy</li>
              <li>Computer/data science solutions for neuroinformatics</li>
            </ul>

            <p class="md-headline">Confirmed speakers:</p>
            <p><b>Frédéric Barthélemy</b> (Juelich Research Center),
            <b>Olivier Coulon</b> (INT, CNRS-Aix-Marseille Université),
            <b>Andrew Davison</b> (NeuroPSI, CNRS-Paris Saclay University),
            <b>Stanley Durrleman</b> (Inria/Institut du Cerveau - Aramis Lab / Centre de Neuroinformatique),
            <b>Junji Ito</b> (Juelich Research Center),
            <b>Camille Maumet</b> (Inria, Univ Rennes, CNRS, Inserm),
            <b>Chris van der Togt</b> (Netherlands Institute for Neuroscience, Amsterdam)</p>


            <div flex-xs layout="row">
                <md-card md-theme="default">
                  <md-card-title>
                    <md-card-title-text>
                      <span class="md-headline">Location</span>
                    </md-card-title-text>
                    <md-card-title-media>
                      <div class="md-media-lg card-media"></div>
                    </md-card-title-media>
                  </md-card-title>
                  <md-card-content>
                    Amphitéâtre d’odontologie<br/>
                    <a href="https://medecine.univ-amu.fr/fr/sorienter-faculte-medecine-secteur-timone">Campus santé-médecine</a><br/>
                    27 bd Jean Moulin<br/>
                    13005 Marseille
                  </md-card-content>
                </md-card>

                <md-card md-theme="default">
                    <md-card-title>
                      <md-card-title-text>
                        <span class="md-headline">Registration</span>
                      </md-card-title-text>
                    </md-card-title>
                    <md-card-content>
                        Registration is free but required. Active participation is encouraged (talk, poster, demo) :<br/>
                        <span class="md-button"><a href="https://goo.gl/forms/jLHl6XZvRVnKXwHy2">Click here</a></span></br>
                        Limited places
                    </md-card-content>
                </md-card>

                <md-card md-theme="default">
                    <md-card-title>
                      <md-card-title-text>
                        <span class="md-headline">Organisers</span>
                      </md-card-title-text>
                    </md-card-title>
                    <md-card-content>
                        <ul>
                        <li>Olivier Coulon (INT, CNRS-Aix-Marseille Université)</li>
                        <li>Andrew Davison (NeuroPSI, CNRS-Université Paris-Saclay)</li>
                        <li>Michel Dojat (GIN, Inserm, UGA)</li>
                        <li>Stanley Durrleman ((Inria/Institut du Cerveau)</li>
                        <li>Emmanuelle Mauduit (Institut du Cerveau)</li>
                        <li>Camille Maumet (Inria, Univ Rennes, CNRS, Inserm)</li>
                        <li>Sylvain Takerkart (INT, CNRS-Aix-Marseille Université)</li>
                        <li>Lydia Yahia-Cherif (Institut du Cerveau)</li>
                        </ul>
                    </md-card-content>
                </md-card>

                <md-card md-theme="default">
                        <md-card-title>
                          <md-card-title-text>
                            <span class="md-headline">Sponsors</span>
                          </md-card-title-text>
                        </md-card-title>
                        <md-card-content>
                                <img src="/media/photos/openaire.png" width=182> <img src="/media/photos/FLI_logo_small.png" width=68><br/>
                                <img src="/media/photos/Logo-CNRS-MaDICS.jpg" width=262><br/>
                            We would like to thank Aix-Marseille Université, <a href="https://www.openaire.eu">OpenAire</a>,
                            <a href="https://www.francelifeimaging.fr">France Life Imaging</a>, and <a href="https://www.madics.fr">GdR MADICS</a> for their support.
                        </md-card-content>
                    </md-card>
                </div>

                <div><small>Icons by <a href="https://www.freepik.com/" title="Freepik">Freepik</a> from
                  <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a>,
                  licensed under <a href="http://creativecommons.org/licenses/by/3.0/"
                  title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></small></div>

        </div>
</md-content>