
<md-content class="md-padding" layout-xs="column" layout="row">
    <md-card flex="25">
        <img ng-src="/media/photos/geant2019_sm.jpg" class="md-card-image" alt="GEANT workshop 2019">
        <md-card-title>
          <md-card-title-text>
            <span class="md-headline">Workshop INCF-France 2019</span>
          </md-card-title-text>
        </md-card-title>
        <md-card-content>
          <p>
            Marseille, 21st May 2019.<br/>
            "Gestion et partage de données en neuroinformatique" (GEANT)
          </p>
        </md-card-content>
        <md-card-actions layout="row" layout-align="end center">
            <md-button ui-sref="workshops">More information...</md-button>
        </md-card-actions>
    </md-card>

    <md-card flex="25">
        <img ng-src="/media/photos/ni2019.png" class="md-card-image" alt="Neuroinformatics 2019">
        <md-card-title>
          <md-card-title-text>
            <span class="md-headline">Neuroinformatics 2019</span>
          </md-card-title-text>
        </md-card-title>
        <md-card-content>
          <p>
            This year, the annual <a href="http://www.neuroinformatics2019.org/">INCF conference</a>
            will be in Warsaw, with a keynote from INSERM researcher Henry Kennedy
            and an invited talk by INRIA researcher Maureen Clerc</a>.
          </p>
        </md-card-content>
        <md-card-actions layout="row" layout-align="end center">
        </md-card-actions>
    </md-card>



      <md-card flex="25">
          <img ng-src="/media/photos/ni2018.png" class="md-card-image" alt="Neuroinformatics 2018">
          <md-card-title>
            <md-card-title-text>
              <span class="md-headline">Neuroinformatics 2018</span>
            </md-card-title-text>
          </md-card-title>
          <md-card-content>
            <p>
              The annual <a href="http://www.neuroinformatics2018.org/">INCF conference</a>
              took place last year in Montréal, with keynotes from INRIA researchers <a ui-sref="person({ id: 'maumet' })">Camille Maumet</a>
              and <a ui-sref="person({ id: 'varoquaux' })">Gaël Varoquaux</a> and CNRS researcher <a ui-sref="person({ id: 'davison' })">Andrew Davison</a>.
            </p>
          </md-card-content>
          <md-card-actions layout="row" layout-align="end center">
          </md-card-actions>
        </md-card>

</md-content>

<md-content class="md-padding" layout-xs="column" layout="row">

    <md-card flex="25" >
        <md-card-title>
          <md-card-title-text>
            <span class="md-headline">People</span>
          </md-card-title-text>
        </md-card-title>
        <md-card-content>
          <p>
            Find out about neuroinformatics researchers working in France.
          </p>
        </md-card-content>
        <md-card-actions layout="row" layout-align="end center">
          <md-button ui-sref="people">More...</md-button>
        </md-card-actions>
      </md-card>

      <md-card flex="25">
        <md-card-title>
          <md-card-title-text>
            <span class="md-headline">Projects</span>
          </md-card-title-text>
        </md-card-title>
        <md-card-content>
          <p>
            Find out about neuroinformatics tools and services developed in France.
          </p>
        </md-card-content>
        <md-card-actions layout="row" layout-align="end center">
            <md-button ui-sref="projects">More...</md-button>
        </md-card-actions>
      </md-card>

    <md-card flex="25">
        <md-card-title>
          <md-card-title-text>
            <span class="md-headline">Join</span>
          </md-card-title-text>
        </md-card-title>
        <md-card-content>
          <p>
            If you would like to join the INCF France network, please contact <a href="mailto:andrew.davison@unic.cnrs-gif.fr">andrew.davison@unic.cnrs-gif.fr</a>.
          </p>
        </md-card-content>
        <md-card-actions layout="row" layout-align="end center">
        </md-card-actions>
      </md-card>

    <md-card flex="25">
        <md-card-title>
          <md-card-title-text>
            <span class="md-headline">Coming soon</span>
          </md-card-title-text>
        </md-card-title>
        <md-card-content>
          <ul>
            <li>A French version of the website!</li>
            <li>Search for researchers and tools by keyword</li>
          </ul>
        </md-card-content>
        <md-card-actions layout="row" layout-align="end center">
        </md-card-actions>
      </md-card>
</md-content>
